.Ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  justify-content: center;

}

div h1 {
  text-align: center;
}

section h3 {
  text-align: center;
}

.Error{
  text-align: center;
}