.Button {
  background-color: transparent;
  border: 1px solid rgb(9, 18, 139);
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  border-radius: 5px;
  background: rgb(161, 166, 167);
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Guest:hover,
.Github:hover,
.Login:hover,
.SignUp:hover,
.CreateAd:hover{
  background: white;
  color: rgb(161, 166, 167)
}

.RechargeAccount:hover,
.EditButton:hover,
.PublishButton:hover,
.BuyButton:hover{
  background: white;
  color: rgb(161, 166, 167)
}

.RechargeAccount {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 40%;
}

.EditButton {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 40%;
}

.CreateAd {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 30%;
  grid-column: span 2;
}

.PublishButton{
  justify-self: end;
  align-self: end;
  height: 80%;
  width: 60%;
  max-height: 32px;
  grid-column: 1/2;
}

.RemoveButton:hover{
  background: white;
  color: rgb(202, 25, 25)
}

.RemoveButton {  
  align-self: end;
  height: 80%;
  width: 60%;
  max-height: 32px;
  grid-column: 2;
}

.BuyButton {
  height: 58%;
  width: 91%;
  margin: auto;
}
