.AdDetails {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  background-color: #cce1f8b5;
  align-self: center;
}

.PurchaseMessage{
  text-align: center;
}

.BuyButtonDiv {
  width: 10rem;
  height: 3rem;
  margin: auto;
}