.UserAds {
  display: grid;
  grid-template-columns: repeat(2,16rem);
  grid-auto-rows: minmax(2rem, auto);
  justify-content: center;   
  grid-row-gap: .5rem; 
  grid-column-gap: .5rem;
  justify-content: center;
}

.PostedAds {
  text-align: center;
}

.UserAds h3 {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}

.Info {
  text-align: center;
}



