.Ad {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.Ad:hover,
.Ad:active {
    background-color: rgba(94, 168, 230, 0.555);
}

.User {
    margin: 16px 0;
    color: black;
}